html,
body {
    font-family:"Roboto";
    margin:0;
	padding:0;
	height:100% !important;
}
/*STICKY FOOTER*/
#wrapper {
	min-height:100% !important;
	position:relative !important;
}
#content {
	padding-bottom:100px;
}
#container {

}
#footer {
	background:#3889bd;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
#footer div.container {
    color:#96c8e6
}
#footer div.container p {
    color:#96c8e6;
    text-align:center;
    padding: 28px 15px 0px 15px;
}
#footer div.container p a{
    color:#96c8e6;
    cursor:pointer;
}
#footContact {
    padding:0px !important;
    margin-top:0px;
}
#footContact a {
    color:#96c8e6 !important;
    padding:0px !important;
    margin-top:0px;
}
/*NAV*/
#navbar {
    border:none !important;
    background: #000 !important;
    
}

nav {
       border:none !important; 
}
/*STICK FOOTER _ END*/

/*Services Columns*/
.servCol div h4 {
padding:15px 5px 5px 15px;
background:gray;
background: linear-gradient(to bottom, #8a8a8a 50%,gray 50%);
color:white;
height:50px;
margin: 10px 10px 10px 10px;
font-weight:normal;
border-radius:8px;
}
.servCol div {
border: 2px #e0e0e0 solid;
height:475px;
margin-bottom:15px;
background:white;
border-radius:8px
}
.legend {
    padding-bottom:40px
}
@media (max-width:620px) {
.legend div ul li {
        display: block !important;
    }
}
.legend div ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;  
}
.legend div ul  {
    padding-left: 20px;  
    margin-top: -2px;
    margin-bottom: 13px;
}
.legend div {
    padding: 5px; 
    border:1px solid lightgray;
    background: white;
    border-radius:8px
}
.legend h4 {
    padding-left: 20px;  
}
.legend h4 i {
    position: relative;
    top: 7px;
}
.tblStyle {
    margin:10px 15px 25px 15px;
    width:90%;
}
.tblStyle tbody tr td:nth-child(2) {

}
.box1 {

}
.value1 {
background: #eaeaea;
padding:5px 5px 5px 5px;
text-align: center !important;
font-family: monospace;
}
.valueGreen {
    background: #4caf50 ;
    color:white !important;
    padding:5px 5px 5px 5px;
    text-align: center !important;
    font-family: monospace;
}
.valueWarn {
    background: #f44336 ;
    color:white !important;
    padding:5px 5px 5px 5px;
    text-align: center !important;
    font-family: monospace;
}
.valueYellow {
    background: #ffc107 ;
    color:white !important;
    padding:5px 5px 5px 5px;
    text-align: center !important;
    font-family: monospace;
}
.divideTR {
    height:10px;
    border-bottom:1px dotted #eaeaea;
}
.box1 td{
padding-top:5px;
}
.box1 td:last-child{
color:gray;
font-weight:lighter;
font-size:12px;
text-align: left !important
}
.box1top td:last-child{
color:gray;
font-weight:lighter;
font-size:12px;
text-align: left !important
}
.box1top td:first-child{
font-weight: bold;
font-family: "Helvetica"
}
.box1top td:first-child:hover {
text-decoration:underline;
cursor:pointer
}
.box1 td:first-child{
font-weight: bold;
font-family: "Helvetica"
}
.box1 td:first-child:hover {
text-decoration:underline;
cursor:pointer
}
.box1top td{
padding-top:1px;
}
.box2 {
padding-bottom:1px;
}
.box2 td{
color: gray;
font-weight: lighter;
font-size: 12px;
}

.tblStyle tbody tr td:nth-child(2) {
text-align:right;
width: 50%;
}
.statGood {
    color:#4caf50;
    font-size:33px !important;
    position:relative;
    top:2px;  
}
.statWarn {
    color:#ffc107;
    font-size:33px !important;
    position:relative;
    top:2px;  
}
.statRed {
    color:#f44336;
    font-size:33px !important;
    position:relative;
    top:2px;
}
.statNoData {
    color:#b5b5b5;
    font-size:33px !important;
    position:relative;
    top:2px;
}
.LstatGood {
    color:#4caf50;
    font-size:33px !important;
    position:relative;
    top:11px;  
}
.LstatWarn {
    color:#ffc107;
    font-size:33px !important;
    position:relative;
    top:11px;  
}
.LstatRed {
    color:#f44336;
    font-size:33px !important;
    position:relative;
    top:11px;
}
.LstatNoData {
    color:#b5b5b5;
    font-size:33px !important;
    position:relative;
    top:11px;
}
/*BUTTONs */
.btn-AI {
    border-radius:0px;
    border:none;
    width:170px;
    height:40px;
    padding-top: 10px;
    font-size: 16px;
   }
.btn-AI:hover {
    border:none;
}

/*button:disabled, .btn:disabled, .btn-danger:disabled, .btn-success:disabled,
button:hover:disabled, .btn:hover:disabled, .btn-danger:hover:disabled, .btn-success:hover:disabled{
    background-color: #D4D4D4;
}*/
button.btn-success:disabled {
    background: #D4D4D4 !important;
}
button.btn-success:disabled:hover {
    cursor: default !important;
}
button.btn-default:disabled:hover {
    cursor: default !important;
}
button.btn-default:disabled {
    display:none !important;
}
/*DATATABLE BUTTONS*/
.DTE_Field_Error{
    display:inline;
}
.DTE_Label_Info{
    display:inline;
}
/*DATATABLE EDITOR FIELD TYPES*/
div.DTE_Field_InputControl textarea{
    min-height:100px;
    background:#f2f2f2 !important;
    padding-left:18px ;   
    box-shadow:none !important;
    border:1px dotted #b7b7b7;
    border-radius:0px !important;
    cursor:pointer !important;
}
div.DTE_Field_InputControl textarea:hover{
    background: #e8e8e8 !important;
}
div.DTE_Field_InputControl textarea:focus{
    background: #f9f9f9 !important;
    outline-color: #7a9cfb !important;
    outline-width: 3px !important;
}
#DTE_Field_away_team {
    border:none !important;
}
#DTE_Field_location {
    border:none !important;
}
/*SWEETALERT*/
.swal2-radio label span {
padding-left:5px !important;
}
.swal2-overlay {
    z-index:9009 !important;
}
.swal2-container {
    z-index:9009 !important;
}
.swal2-modal {
z-index:9009 !important;
}
.swal2-close {
    display:none !important;
}
/*SPINNER*/
.loading {
   position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:9900;
    top:0;
    left:0;
    text-align: center;
}
.loading i {
color:#eaeaea;
position:relative;
top:48%;
}
.loadingN {
   position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:9900;
    top:0;
    left:0;
    text-align: center;
}
.loadingN i {
color:#eaeaea;
position:relative;
top:48%;
}
/*FILE UPLOADER */
div.btn-file {
    background:#5CB85D;
    border:1px solid #5CB85D;
}
div.btn-file:hover {
    background:rgba(92,184,93,.9);
    border:1px solid rgba(92,184,93,.9);
}
div.btn-file:active {
    background:rgba(92,184,93,.9) !important;
    border:1px solid rgba(92,184,93,.9) !important;
}
@media (min-width:768px) {
.navWidth {
margin-top:10px;
float:right
}
}
button.navbar-toggle {
    float:left !important;
    margin-left:15px !important;
    margin-top: 17px !important;
}
.AINavB {
    color:#d6d6d6 !important;
    float:right !important;
}
.AINavB:hover {
    color:#d6d6d6 !important;
}
.imgBnd {
  height:42px;
}
.imgBnd2 {
  height:42px;
  margin-top:19px;
}
.SAA-Nav {
    background:#000000 !important;
    height:80px;
}
.par {
    font-size:16px !important;
}
.SAAP2 {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
    padding-bottom: 17px;
}
.SAAP {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.SAAP i {
    font-size: 18px;
    position: relative;
    top: 3px;
} 
.addDivHeaders ~ li {
    font-size: 16px;
    
}
.addDivHeaders + li {
    margin-top:5px;
    list-style:none;
}
.SAAH1 {
    margin-top:100px;
    font-weight:bold;
}
.AI-Hdr {
    color:white;
    display:inline;
    font-weight:normal;
}



.AI-Hdr1 {
   display:inline;
}
.SchedTableHead {
    height:65px;
    background:#3d71ff;
    margin-top:25px;
    padding-top:18px;
    color:white;
    font-size:20px;
    padding-left:15px;
}
.fileName {
    margin-bottom:0px;
    color:#b7b7b7;
    }

/*MAPPING TABLE*/
#mapTable {
    margin-top:30px;
}
#mapTable thead tr th {
font-weight:normal;
text-align:left;
height:40px;
background:#333333;
color:white;
padding-left:15px;
padding-top:10px;
}	
@media (max-width: 681px) {
.hdSm {
display:block !important;
padding-top:10px !important;
}
}
@media (max-width: 681px) {
.hdLg {
display:none !important;
overflow-x:hidden;
}
}
#mapTable thead tr th:nth-child(2) {
padding-left:10px;

}
#mapTable thead {
border-left:2px #333 solid;
border-right:2px #333 solid;
}

#mapTable tbody {
border-left:2px #eaeaea solid;
border-right:2px #eaeaea solid;
border-bottom:2px #eaeaea solid;
}
#mapTable tbody tr td {
background:white;
color:#333333;
height:40px;
white-space: nowrap;
overflow-x: hidden;
}
#mapTable tbody tr td:first-child {
background:#eaeaea;
border-bottom: 1px dotted #b9b9b9;
width:30%;
padding:10px 15px 10px 15px;
}
#mapTable tbody tr td:nth-child(2) select {
cursor:pointer;
-webkit-appearance: none !important;
}
#mapTable tbody tr td:nth-child(2) select:focus {
outline:none;
}
#mapTable tbody tr td:nth-child(2):hover {
    background:rgba(61,113,255,0.09);
    color:#333333;
}
#mapTable tbody tr td:first-child i{
float:right;
color:gray;
display:none;
}
@media (min-width: 505px) {
#mapTable tbody tr td:first-child i{
display:block !important;
}
}
.fcDBMap {
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0px;  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-s
}
/*LOGIN*/
.g-sign4 div div span span {
  font-weight: bold !important
}
.signI {
  color:white;
  font-weight:bold;
}
.alreadyUsr:hover {
/*text-decoration: underline !important;*/
color:#4285f4 !important;
}
/*SCHEDULE TABLE*/ 
#uploadedSchedule thead tr th {
font-weight:normal;
text-align:center;
}	
#uploadedSchedule thead tr {
background: #585858;
color: white;
}
#uploadedSchedule tbody tr td {
border-top:none !important;
overflow-x: hidden !important;
overflow-y: hidden !important;
text-overflow: ellipsis !important;
max-width:50px !important;
}
@media (max-width: 640px) {
#uploadedSchedule tbody tr td {
padding-right:5px !important;
white-space:nowrap !important;
text-overflow: ellipsis !important;
overflow: hidden !important;
}    
}
#uploadedSchedule tbody tr td:first-child {
outline:none !important;
}
table#uploadedSchedule tbody tr.even td:first-child  {
background:white !important
}
table#uploadedSchedule tbody tr.odd td:first-child  {
background:#f9f9f9 !important
}
table#uploadedSchedule tbody tr:hover td:first-child  {
background:#f6f6f6 !important
}
table#uploadedSchedule tbody tr td:nth-child(2) {
width:64px !important; 
}
#uploadedSchedule tbody tr td:nth-child(3) {
width:64px !important;
}
@media (max-width: 500px) {
table#uploadedSchedule tbody tr td:nth-child(2) {
vertical-align:top !important; 
padding-right:5px !important
}
}
@media (max-width: 500px) {
table#uploadedSchedule tbody tr td:nth-child(3) {
vertical-align:top !important; 
padding-right:5px !important
}
}
table#uploadedSchedule tbody tr.selected {
background:#0099cc !important;
color:white !important
}
table#uploadedSchedule tbody tr.selected td:nth-child(2) {
background:#0099cc !important;
color:white !important
}
table#uploadedSchedule tbody tr.selected td:first-child {
background:#0099cc !important;
color:white !important
}
#uploadedSchedule tbody tr.selected td:first-child::before {
    border:1px solid white !important;
}
table#uploadedSchedule tbody tr:hover {
cursor:pointer;
}
#uploadedSchedule tbody tr td:first-child::before {
    border:1px solid #303030 !important;
    margin:auto !important;
}
@media (max-width: 640px) {
#uploadedSchedule tbody tr td:first-child::before {
border:none !important;
}    
}
#uploadedSchedule tr.selected td.select-checkbox:after {
    text-shadow:none !important;
    margin-top: -5px !important;
    margin-left: 3px !important;
}
@media (max-width: 640px) {
#uploadedSchedule tr.selected td.select-checkbox:after {
display:none !important;
}    
}
table#uploadedSchedule thead tr th.sorting_desc {
background-image: url("../images/sort_desc.png") !important;
}
table#uploadedSchedule thead tr th.sorting_asc {
background-image: url("../images/sort_asc.png") !important;
}
table#uploadedSchedule thead tr th.sorting {
background-image: url("../images/sort_both.png") !important;
}
table#uploadedSchedule tbody tr.selected td.sorting_1 {
    background:#d8d8d8;
}
table#uploadedSchedule thead tr th{
font-weight:normal;
text-align:left;
}
#uploadedSchedule_length {
padding-bottom: 5px;
margin-top: 0px;
padding-right: 9px;
color:gray;
}
@media (max-width: 642px) {
#uploadedSchedule_length {
display:none !important;
}    
}
/*@media (max-width: 525px) {
#uploadedSchedule_filter {
margin-top:-34px !important;
margin-left: -10px;
}    
}*/
#uploadedSchedule_filter {
float:right !important;
margin-top:-10px;
}
@media (max-width: 640px) {
#uploadSchBtn {
display:none;
}    
}
@media (max-width: 640px) {
.upldBTN {
text-align: center;
}    
}
.Lid:hover {
    cursor:default !important;
}
@media (max-width: 640px) {
.SchSAAP {
display:none;
}    
}
@media (max-width: 640px) {
.SchSAAP2 {
display:block !important;
/*text-align:center;*/
}    
}
@media (max-width: 640px) {
#uploadedSchedule_filter input {
border:2px #e0e0e0 solid !important;
width:140px !important;
transition:0.3s ease;
}    
}
@media (max-width: 640px) {
#uploadedSchedule_filter label {
color:gray !important;
}    
}
#uploadedSchedule_length label {
font-weight:normal !important;
color:gray;
}
#uploadedSchedule_length label select {
background:white;
color:gray;
}
#uploadedSchedule_length label select:hover {
cursor:pointer;
}
#uploadedSchedule_filter label {
color:#757575;
font-weight:normal;
margin-bottom:10px;
}
.SchedTableHead i{
cursor:pointer;
float:right;
margin-right:15px;
position:relative;
top:3px;
}
#uploadedSchedule_filter input {
border:2px #e0e0e0 solid;
color:gray;
padding-left:5px;
margin-right:5px;
height:31px;
text-align:center;
transition:0.3s ease;
}
.ScheTablWrap {
margin-top:15px;
    }
/*MODALS*/
.AI-HmodalTitle {
padding-top: 10px; 
padding-bottom: 10px;
background-color: #Fc5115 !important;
background: linear-gradient(to bottom, #Fc5115 50%,#f54304 50%);
padding-left: 15px;
padding-top:20px;
color:white !important;
height:65px;
}
.AI-HmodalTitletxt {
font-size:18px;
font-weight:300;
font-family:"RobotoDraft";
display:inline;
}
.AI-HmodalFooter {
padding-top:15px !important;
padding-right:25px !important;
}
.AI-HmodalBody {
padding-top:20px !important;
padding-left:40px !important;
padding-right:45px !important;
}
.modal-header {
border-bottom:none !important;
}

.modal-footer {
border-top:none !important;
}
#uploadedSchedule tbody tr td:first-child::before {
    border-radius:0px;
    border:none;
    box-shadow:none;
  } 
/*MY ACCOUNT*/  
#uploadedSchedule_wrapper div span a.paginate_button.current:hover {
    color:white !important;
}
#messagehistoryLog_wrapper div span a.paginate_button.current:hover {
    color:white !important;
}
.public-warning{
    font-size: .9em;
    margin-bottom: 10px;
}
div.panel-heading[aria-expanded="true"] {
    background:#333 !important ;
    color:white;
    box-shadow:none!important;
    border-left:none !important;
    border-radius:0px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
@media (max-width:900px) {
.newUsrB {
    margin-bottom:0px !important;
}
}

.changePW {
    top: -50px;
    position: relative;
    color: #c5c5c5 !important;
}
.changePW:hover {
    color: white !important;
    text-decoration: none !important;
}
.changePW:focus {
        text-decoration: none !important;
}
div.panel-heading {
    background:white ;
    color:#333;
    border-radius: 4px;
    box-shadow: 3px 2px 5px #cacaca;
    border-left: 8px #c5c5c5 solid !important;
    height:50px !important
    }
div.panel-heading:hover {
    background:#f0f0f0 ;
   
    cursor:pointer;
}
.public-warning span{
    font-weight: bold;
}

.subsectionContainer{
    margin-bottom: 40px;
}
.subsectionContainer:last-of-type{
    margin-bottom: 0px;
}
    
.AI-Athlete-Bar{
	font-size:20px;
	background-color: #Fc5115 !important;
    border-radius:0px;
    border:none;
    background: linear-gradient(to bottom, #Fc5115 50%,#f54304 50%)
}
.AI-Athlete-Bar p{
	color:white;
}
.AI-Athlete-BarGR {
	background-color: #eaeaea !important;
    border-radius:0px;
    border:none;
}
.AI-Athlete-BarGR p {
    color:#333333;
}
.myAccountWell {
    margin-top:134px;
    border-radius:0px;
    background:white;
    margin-bottom:15px;
}
select.wKit {
    -webkit-appearance:none !important;
    -moz-appearance: none !important;
    appearance:none !important;
}
.form-control3 {
    border:none !important;
    border-radius: 0px !important;
    background:#f1f1f1 !important;
    height:40px !important;
    box-shadow:none;
    padding-left:18px !important;
}
.form-control3:hover {
    cursor:pointer !important;
}
.form-control2 {
    border:none !important;
    border-radius: 0px !important;
    background:#f1f1f1 !important;
    height:40px !important;
    box-shadow:none;
    padding-left:18px !important;
    padding-top:10px;
}
.btn {
    border-radius:4px !important;
    border:none !important;
}
.btn:focus {
    outline:none !important;
}
.addDivHeaders {
font-size:18px !important;    
}
.chgPsw {
    padding-left: 5px;
    font-weight:200;
    color:#afafaf;
}
.chgPsw:hover {
    cursor:pointer;
    text-decoration: underline;
}
.emptyTable {
    border-top:40px solid #eaeaea;
    border-left:2px solid #eaeaea;
    border-right:2px solid #eaeaea;
    border-bottom:2px solid #eaeaea;
    padding:50px 15px 50px 15px;
    margin-top:30px;
    font-size:16px;
}
div#fileUploader div div div.input-group-btn {
    border-top: 1px #5cb85d solid;
    border-bottom: 1px #5cb85d solid;
    border-right: 1px #5cb85d solid;
}
div#fileUploader div div div.btn-file {
    margin-right:-1px;
}
div#fileUploader div div div.btn-file:active {
    border:none !important;
}
#timeError {
    color:#d9534f;
}
#dateError {
    color:#d9534f;
}
#fileUploader div div div.progress {
    box-shadow:none;
    border-radius:0px;
}

/*ERROR MODAL FOR SCHEDULE UPLOADER*/

.errorTxt1 {
    color:#A2A7A2;
    font-weight:normal;
}

/** Sweet Alert Styles **/
div.sweet-alert.show-input.showSweetAlert.visible fieldset input[type=text] {
-webkit-text-security: disc !important;
}
div.sa-input-error.show {
top:22px !important;
}
div.sa-button-container button {
border-radius:0px !important;
}
div.sweet-alert {
border-radius:2px;
}
div.sa-confirm-button-container button.confirm {
background:rgb(76,175,80) !important;
box-shadow:none !important;
}
div.sa-confirm-button-container button.confirm:hover {
background:rgba(76,175,80,.9) !important;
}
div.sa-icon.sa-error {
border-color:rgb(244,67,54) !important;
}
div.sa-icon.sa-warning {
border-color:rgb(251,188,57) !important;
}
span.sa-body.pulseWarningIns {
background-color:rgb(251,188,57) !important
}
span.sa-dot.pulseWarningIns {
background-color:rgb(251,188,57) !important
}
span.sa-line.sa-right {
background-color: rgb(244,67,54) !important;
}
span.sa-line.sa-left {
background-color: rgb(244,67,54) !important;	
}
.sweet-alert p {
color:#232323 !important;
font-weight: 400 !important;
}
.swal2-modal.show-swal2 {
    border-radius:8px !important;
}
.swal2-modal button.styled {
    border-radius:2px !important;
}
/*DATATABLES*/
.dt-button {
    border-radius:0px !important;
    width:90px !important;
    text-align:center !important;
    border: 1px solid #c7c7c7 !important;
    background-image:none !important;
}
@media (max-width: 681px) {
a.dt-button {
    /*display: table-cell !important;*/
    margin-right:5px !important;
}
}
div#SheduleWrapper div div.dt-buttons {
    float:right !important;
    margin-top:-10px;
}
/*@media (max-width: 525px) {
div#SheduleWrapper div div.dt-buttons {
    margin-top:-85px !important;
}
}*/

/*DATATABLES EDITOR*/
.DTE_Field_Info + i {
    float:right;
    margin-top:-32px;
    margin-right:-31px;
    color:#0099cc;
    cursor:pointer;
}
.DTE_Field_Info + i:hover {
    color:#069dd0;
}
.DTE_Field_Input div span {
    background:#f2f2f2 !important;
    height:40px;
}
.DTE_Field_Input div span:hover {
    background:#e8e8e8 !important;
    height:40px;
}

.DTE_Field_Name_home_team div div.DTE_Field_InputControl {
border:#b7b7b7 dotted 1px !important;
}
.DTE_Field_Name_home_team div div span span span {
border:none !important;
}
.DTE_Field_Name_location div.DTE_Field_Input div span span span {
border:none !important;
}
.DTE_Field_Name_home_team div div span span span span{
background:transparent !important;
}
.DTE_Field_Name_away_team div div.DTE_Field_InputControl {
border:#b7b7b7 dotted 1px !important;
}
.DTE_Field_Name_location div div.DTE_Field_InputControl {
border:#b7b7b7 dotted 1px !important;
}
.DTE_Field_Name_location div div span span span span{
background:transparent !important;
}
.DTE_Field_Name_away_team div div span span span {
border:none !important;
}
.DTE_Field_Name_away_team div div span span span:focus {
outline-color: #7a9cfb !important;
outline-width: 3px !important;
}
.DTE_Field_Name_home_team div div span span span:focus {
outline-color: #7a9cfb !important;
outline-width: 3px !important;
}
.DTE_Field_Name_away_team div div span span span span{
background:transparent !important;
}
.select2-search__field {
outline-color: #7a9cfb !important;
outline-width: 3px !important;
}
.select2-selection__arrow {
top:7px !important;
}
.select2-selection__rendered {
    padding-top:5px !important;
}
.DTE_Action_Edit div div button {
    color:#333333 !important
}
.DTED_Lightbox_Content {
    border-radius:0px !important;
}
.DTE {
   border-radius:0px !important;
   border:none !important; 
}
.DTE_Header_Content {
    color:white;
}
.DTE_Header {
    background:#0099cc !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 11px 10px 2px 16px !important;
    border-bottom:none !important;
    top: 0px !important; 
    left: 0px !important; 
    right: 0px !important;
}
.DTE_Footer {
    bottom: 0px !important; 
    left: 0px !important; 
    right: 0px !important;
    border-top:none !important;
}   
div.DTE_Form_Content {
width:90% !important;
}
div.DTE_Body_Content div.DTE_Field label {
width:30% !important;    
}
div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
width:70% !important;  
}
@media (max-width:580px) {
div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
width:auto !important;  
}
}
div.DTE_Form_Buttons button {
    background-image:none !important;
    text-shadow:none !important;
    box-shadow:none !important;
    background:#eaeaea !important;
    border:1px #c7c7c7 solid !important;
}
div.DTE_Form_Buttons button:hover {
    background:#e0e0e0 !important;
}
div.DTE_Field input {
    cursor:pointer !important;
    /*background:#eaeaea !important;
    border:none !important;*/
}
.DTED_Lightbox_Content {
    border:none !important;
}
.DTED_Lightbox_Close::after {
        bottom: 1px;
    position: relative;
}
.DTED_Lightbox_Content_Wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
div.DTE_Action_Remove div.DTE_Header {
    background:#d9534f !important;
}   
div.DTE_Field:hover {
    background:white !important;
    border:1px solid white !important;
}
div.DTE_Field_InputControl input {
background:#f2f2f2 !important;
padding-left:5px !important;
height:40px!important;
box-shadow:none !important;
border:1px dotted #b7b7b7 !important;
}
div.DTE_Field_InputControl input:hover {
background:#e8e8e8 !important;
}
div.DTE_Field_InputControl input:focus {
background:#f9f9f9 !important;
outline-color:#7a9cfb !important;
outline-width: 3px !important;
}
div.DTE_Field_InputControl input.selected {
padding-left:30px !important;
}
div.DTE_Field_InputControl input::placeholder {
color:#202020;
}
div.DTE_Field_InputControl input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color:#202020;
}
div.DTE_Field_InputControl input::-moz-placeholder { /* Firefox 19+ */
color:#202020;
}
div.DTE_Field_InputControl input:-ms-input-placeholder { /* IE 10+ */
color:#202020;
}
div.DTE_Field_InputControl input:-moz-placeholder { /* Firefox 18- */
color:#202020;
}

/*PAGINATE STYLING*/
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
background:none !important;
border: 1px solid transparent !important;
}
.dataTables_info {
color:#b7b7b7 !important;
}
.paginate_button.current {
background:#eaeaea !important;
border:#eaeaea 1px solid !important;
}
.paginate_button:hover {
background: #333333 !important;
border:#333333 1px solid !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { 
background: #333333 !important;
color:white !important;
border:#333333 1px solid !important;
}

/*SAMPLE SPREADSHEET IN HELP MODAL*/
table.sampleXLS {

}
table.sampleXLS thead tr {
    background: #eaeaea;
}
table.sampleXLS thead tr th {
    background: #eaeaea;
    border-bottom:none !important;
}
table.sampleXLS tbody tr td {
border-top: #eaeaea dotted 1px !important;
}
/*VISUAL AID*/
@media (max-width: 681px) {
.mappingIcons {
    display: none !important;
}
}
.jTron {
    padding-left:5% !important;
}
.mapIcon {
    font-size:60px !important;
    display:inline !important;
    padding-left:15px;
}
.mapIcon2 {
    font-size:65px !important;
    display:inline !important;
}
.mapIcon3 {
    font-size:30px !important;
    display:inline !important;
    padding-left:5px;
    padding-right:5px;
    color:#eaeaea;
    position:relative;
    bottom:12px;
}
/*FORM STYLING*/
.formFields5 {
background:#f2f2f2 !important;
padding-left:18px ;
height:40px!important;
box-shadow:none !important;
border:1px dotted #b7b7b7 !important;
border-radius:0px;
cursor:pointer;
width:100%;
-webkit-transition: background-color ease-in-out .15s;
transition: background-color ease-in-out .15s;
}
.formFields5:hover {
background:#e8e8e8 !important;
}
.formFields5.selected {
padding-left:30px !important;
background:#e8e8e8 !important;
}
input.formFields5:focus {
    background: #f9f9f9 !important;
    outline-color: #7a9cfb !important;
    outline-width: 3px !important;
}
input.formFields5::placeholder {
color:#202020;
}
/*NOTIFICATIONS PAGE*/
.AI-leagueInfoheader{
text-align:center;
}
@media (max-width: 374px) {
.AI-leagueInfoheader {
font-size:1.8em;
text-align:center;
}
}
@media (min-width: 375px) and (max-width: 768px) {
.AI-leagueInfoheader {
font-size:2.1em;
}
}
.AI-addDivModalTitle {
padding-bottom: 10px;
background: #3d71ff;
padding-left: 15px;
padding-top:20px;
color:white;
height:65px;
}
.AI-well {
box-shadow: 0 0px 17px 0 rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.19) !important;
}
@media (max-width: 500px) {
.AI-well {
padding:0px !important;
box-shadow:none !important;    
}
}
.tbHelp3 {
color:#CFDCFF;
margin-left:10px;
float:right;
}
.tbHelp3:hover {
color:white;
cursor:pointer;
}
.filterLabel {
font-weight:normal;
color: #484848;
}
.chooseRecipient {
font-weight:bold;
margin-top:15px;
}
.messageType {
font-weight:bold;
padding-bottom: 25px;
margin-top: 15px;
}
@media (max-width: 500px) {
.messageType {
display:none;  
}
}
.messageType2 {
font-weight:bold;
padding-bottom: 25px;
margin-top: 15px;
display:none
}
@media (max-width: 500px) {
.messageType2 {
display:block !important;  
}
}
#messagehistoryTableWrap {
border-left:#c7c7c7 solid 2px; 
border-right:#c7c7c7 solid 2px; 
border-bottom:#c7c7c7 solid 2px;

margin-top:-10px !important;
background:#e0e0e0;
}
#messagehistoryLog.dataTable.no-footer {
    border:none !important;
}
#messagehistoryLog_length label {
    font-weight: normal !important;
}
#messagehistoryLog_length {
margin-top: 13px !important;
padding-left:15px !important;
margin-bottom:8px !important;
}
@media (max-width: 640px) {
#messagehistoryLog_length {
float:left !important;  
}
}
@media (max-width: 640px) {
#messagehistoryLog_filter {
float:right !important;  
margin-top: 0px;
}
}
.messageType3 {
padding: 10px 15px;
font-size: 20px;
margin-top: 15px;
background:#333;
color:white;
font-weight:normal;
}
.messageSectionBox {
padding:0px 25px 0px 25px;
}
@media (max-width: 500px) {
.messageSectionBox {
padding:0px !important;  
}
}
.messageLogBox {
padding:0px 25px 75px 25px;
}
@media (max-width: 500px) {
.messageLogBox {
padding:0px !important;  
}
}
.messageCounterComms {
display:inline;
color:#a7a7a7;
float:right;
font-weight:normal;
font-size:12px;
position:relative;
top:5px;
}
.msgTextarea {
margin-top:10px;
cursor:text !important;
background:#ECECEC !important;
padding:15px !important;
height:100px !important;
font-weight:normal;
border:none;
box-shadow:none !important;
border-radius:0px !important;
}
.addDivFields {
background:white !important;
padding-left:18px ;
height:40px!important;
box-shadow:none !important;
border:2px solid #c9c9c9;
border-radius:0px !important;
}
div.ms-drop.bottom ul li label input {
margin-right:5px;
cursor:pointer;
border-radius:0px;
margin-left:5px;
margin-top:0px;
}
#mobileMessage {
    background: white !important;
    height:100px !important;
    border-radius:4px !important;
}
div.ms-drop.bottom ul li label {
cursor:pointer !important;
line-height:25px;
margin-bottom:0px;
}
div.ms-drop.bottom ul li:hover {
background:#0099cc !important;
color:white;
}
li.ms-select-all label {
background: #eaeaea;
color: #333333;
}
li.ms-select-all label:hover {
background: #636363;
color: white;
}
div.ms-parent button {
background:white !important;
height:40px;
border:2px #c9c9c9 solid;
border-radius:4px;
line-height:40px;
}
div.ms-parent button span{
font-weight:normal;
}
.ms-choice > div {
top:7px;
}
.ms-choice > span {
padding-left:15px !important;
}
.sendMobIcon {
font-size:40px !important;
position:relative;
top:14px;
}
button.ms-choice:focus {
outline:none !important;
}
/*MESSAGE LOG*/
table#messagehistoryLog tbody tr td {
    border-top:none !important; 
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    text-overflow: ellipsis !important;
    max-width:50px !important;
}
@media (max-width: 500px) {
table#messagehistoryLog tbody tr td  {
white-space:nowrap !important
}
}
table#messagehistoryLog tbody tr td:nth-child(1) {
width:64px !important; 
}
@media (max-width: 500px) {
table#messagehistoryLog tbody tr td:nth-child(1) {
vertical-align:top !important; 
padding-right:5px !important
}
}

table#messagehistoryLog tbody tr td:nth-child(2) {
width:66px !important;  
}
@media (max-width: 500px) {
table#messagehistoryLog tbody tr td:nth-child(2) {
vertical-align:top !important; 
padding-right:5px !important
}
}
table#messagehistoryLog tbody tr td:nth-child(5) {
width: 72px !important;
}
#messagehistoryLog_info {
    padding-left:15px !important;
    color:#333 !important;
}

table#messagehistoryLog thead tr th {
    padding: 10px 18px !important;
    border-top: none;
    color: white !important;
    font-weight: normal !important;
    border-bottom: none !important;
    padding-bottom:13px !important;
    padding-top:13px !important;
    border-top:none !important;
    background:#0099cc !important;
}
table#messagehistoryLog thead tr {
    background:#eaeaea !important;
}
#messagehistoryLog_filter {
    padding-right:15px !important;
}
#messagehistoryLog_filter input {
    border: 1px solid #eaeaea !important;
    padding-left:5px !important;
    padding-right:5px !important;
    margin-top:12px;
    height:30px !important;
    font-weight:normal !important;
}
@media (max-width: 500px) {
#messagehistoryLog_filter input{
width: 145px !important;
}
} 
#messagehistoryLog_filter input:focus {
    outline: -webkit-focus-ring-color auto 1px !important;
}
table#messagehistoryLog.no-footer {
    border-bottom: 1px dotted #c7c7c7;
}
textarea:focus {
    outline: -webkit-focus-ring-color auto 1px !important;
}
.msgFailed {
color:#f44336;
}   
/*ACCORDIAN*/
#accordion1 .panel {
    border-radius:0px !important;
    margin-bottom: 15px;
}
#accordion1 .panel-title {
 cursor:pointer !important;
 font-size:20px !important;
 margin-top:4px !important
}

#accordion1 .panel-title i{
    top: 2px;
    position: relative;
}
#accordion1 .panel-default {
border: none;
border-radius: 4px !important;
}

/*USER TABLE*/
#userTbl thead tr th {
font-weight:normal;
text-align:center;
}
#userTbl tbody tr:first-child {
    height:47px !important;
}	
#userTbl thead tr {
background: white;
color: #333;
}
#userTbl tbody tr td {
border-top:none !important;
overflow-x: hidden !important;
overflow-y: hidden !important;
text-overflow: ellipsis !important;
max-width:50px !important;
cursor: default !important;
}
#userTbl tbody tr td:last-child a {
    cursor:pointer !important
}
table#userTbl tbody tr.selected {
background:#D8D8D8;
}
table#userTbl tbody tr.selected td:nth-child(2) {
background:#D8D8D8 !important;
}
table#userTbl tbody tr:hover {
cursor:pointer;
}
/*table#userTbl thead tr th.sorting_desc {
background-image: url("../images/sort_desc.png") !important;
}
table#userTbl thead tr th.sorting_asc {
background-image: url("../images/sort_asc.png") !important;
}
table#userTbl thead tr th.sorting {
background-image: url("../images/sort_both.png") !important;
}*/
table#userTbl thead tr th{
font-weight:bold;
text-align:left;
padding-left:10px;
background:#eaeaea;
border-bottom:solid #e0e0e0 1px !important
}
#userTbl {
margin-top: 0px;
padding-right: 0px;
color:#333;
white-space: nowrap !important;
border: 2px #e0e0e0 solid !important;
}
/*#userTbl.no-footer {
border-bottom:none !important;
}*/


/* SCHEDULE */
.evntGroupbox {
}
#exportButton:active {
    box-shadow:none !important;
}
#exportButton + div {
    min-width:55px !important;
    padding:10px;
}
#exportButton + div li {
    text-align:center
} 
#exportButton + div a {
    color:#333 !important;
}
#exportButton + div a:hover {
    background:#f1f1f1 !important
}
#groupEdit-save-button {
background: linear-gradient(to bottom, #5CB85B 50%,#4cae4c 50%);
background: -moz-linear-gradient(top,  #5CB85B 50%, #4cae4c 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5CB85B), color-stop(50%,#4cae4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%); /* IE10+ */
background: linear-gradient(to bottom,  #5CB85B 50%,#4cae4c 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CB85B', endColorstr='#4cae4c',GradientType=0 ); /* IE6-9 */
}    
#groupEdit-save-button:hover {
background: linear-gradient(to bottom, #75c773 50%,#5CB85B 50%);
background: -moz-linear-gradient(top,  #75c773 50%, #5CB85B 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#75c773), color-stop(50%,#5CB85B)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75c773 50%,#5CB85B 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75c773 50%,#5CB85B 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75c773 50%,#5CB85B 50%); /* IE10+ */
background: linear-gradient(to bottom,  #75c773 50%,#5CB85B 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c773', endColorstr='#5CB85B',GradientType=0 ); /* IE6-9 */
}
.eventBoxL {
background:white;
padding:20px 15px 25px 15px;
color:gray;
width:49%;
margin-top:10px;
border-radius: 5px;
}
.eventBoxL p {
font-weight:bold;
font-size:25px;
margin-bottom:0px;
color:black;
}
.eventBox {
background:white;
padding:20px 15px 25px 15px;
color:gray;

margin-top:10px;
}
.eventBox p {
font-weight:bold;
font-size:25px;
margin-bottom:0px;
color:black;
}
.eventBoxbutton {
font-weight:normal !important;
padding-top:8px;
padding-bottom:8px;
background: linear-gradient(to bottom, #5CB85B 50%,#4cae4c 50%) !important;
background: -moz-linear-gradient(top,  #5CB85B 50%, #4cae4c 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5CB85B), color-stop(50%,#4cae4c)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #5CB85B 50%,#4cae4c 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CB85B', endColorstr='#4cae4c',GradientType=0 ) !important; /* IE6-9 */
}
.eventBoxbutton:hover {
font-weight:normal !important;
padding-top:8px;
padding-bottom:8px;
background: linear-gradient(to bottom, #75c773 50%,#5CB85B 50%) !important;
background: -moz-linear-gradient(top,  #75c773 50%, #5CB85B 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#75c773), color-stop(50%,#5CB85B)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #75c773 50%,#5CB85B 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c773', endColorstr='#5CB85B',GradientType=0 ) !important; /* IE6-9 */
}
.eventBoxbuttonBl {
font-weight:normal !important;
padding-top:8px;
padding-bottom:8px;
background: linear-gradient(to bottom, #33a6cc 50%,#0099cc 50%);
background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.eventBoxbuttonBl:hover {
background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.greenButton {
background: linear-gradient(to bottom, #5CB85B 50%,#4cae4c 50%) !important;
background: -moz-linear-gradient(top,  #5CB85B 50%, #4cae4c 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5CB85B), color-stop(50%,#4cae4c)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5CB85B 50%,#4cae4c 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #5CB85B 50%,#4cae4c 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CB85B', endColorstr='#4cae4c',GradientType=0 ) !important; /* IE6-9 */
}
.greenButton:hover {
background: linear-gradient(to bottom, #75c773 50%,#5CB85B 50%) !important;
background: -moz-linear-gradient(top,  #75c773 50%, #5CB85B 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#75c773), color-stop(50%,#5CB85B)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75c773 50%,#5CB85B 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #75c773 50%,#5CB85B 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c773', endColorstr='#5CB85B',GradientType=0 ) !important; /* IE6-9 */
}
#navbar ul li.active a {
background: linear-gradient(to bottom, #f1c074 50%,#EFAD48 50%) !important;
background: -moz-linear-gradient(top,  #f1c074 50%, #EFAD48 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f1c074), color-stop(50%,#EFAD48)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #f1c074 50%,#EFAD48 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c074', endColorstr='#EFAD48',GradientType=0 ) !important; /* IE6-9 */
}

#navbar ul li a {
    border-radius: 4px;
    height: 10px;
    margin-top: 17px;
    vertical-align: middle;
    padding: 6px 14px 25px 14px;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar ul li.active a:hover {
background: linear-gradient(to bottom, #efc98e 50%,#EFB552 50%) !important;
background: -moz-linear-gradient(top,  #efc98e 50%, #EFB552 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#efc98e), color-stop(50%,#EFB552)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #efc98e 50%,#EFB552 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc98e', endColorstr='#EFB552',GradientType=0 ) !important; /* IE6-9 */
}
.yellowButton {
background: linear-gradient(to bottom, #f1c074 50%,#EFAD48 50%) !important;
background: -moz-linear-gradient(top,  #f1c074 50%, #EFAD48 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f1c074), color-stop(50%,#EFAD48)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1c074 50%,#EFAD48 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #f1c074 50%,#EFAD48 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c074', endColorstr='#EFAD48',GradientType=0 ) !important; /* IE6-9 */
}
.yellowButton:hover {
background: linear-gradient(to bottom, #efc98e 50%,#EFB552 50%) !important;
background: -moz-linear-gradient(top,  #efc98e 50%, #EFB552 50%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#efc98e), color-stop(50%,#EFB552)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efc98e 50%,#EFB552 50%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #efc98e 50%,#EFB552 50%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc98e', endColorstr='#EFB552',GradientType=0 ) !important; /* IE6-9 */
}
.eventBoxbutton2 {
font-weight:normal !important;
padding:8px 20px 8px 20px;
}
#uploadedSchedule_info {
    color:#333 !important;
}
.eventBoxR {
background:white;
padding:20px 15px 25px 15px;
color:gray;
width:49%;
margin-left:2%;
margin-top:10px;
float:right;
border-radius: 5px;
}
.eventBoxR p {
font-weight:bold;
font-size:25px;
margin-bottom:0px;
color:black;
}
.CurrentSchLab {
font-weight:bold;
font-size:25px; 
margin-top:35px  
}
#uploadedSchedule_wrapper div a.buttons-create {
    display:none !important;
}
#uploadedSchedule_wrapper div a.buttons-collection {
    display:none !important;
}
.modalHead {
font-weight:bold;
font-size:18px;
margin-bottom:0px;
}
.modalCnt {
    background:#eaeaea !important;
    border:none;
}
.modHead {
    padding:0px;
}
#validateTable {
    background:#fff;
}
#validateTable tbody tr td:last-child{
    vertical-align: middle;
    text-align: center;
}
#validateTable tbody tr td {
    border:white solid 1px;
}

#validateTable tbody tr td i {
    position:relative;
    top:3px;
    font-weight:normal
}
#validateTable tbody tr:first-child {
border-bottom: solid #eaeaea 2px;
}
.btn-def {
    background: transparent;
}
.btn-def:hover {
    background: #e0e0e0;
}
.btn-def:active {
    box-shadow: none;
    -webkit-box-shadow:none;
}
.matChk {
    color:#5cb85c;
}
.matRem {
    color:#ddd !important;
    }
#groupsList {
   background:white !important;
   margin-top:20px;
   margin-left: 0px !important;
   margin-right: 0px !important;
   width: 100% !important;
}
#groupsList tbody tr td {
   cursor:pointer !important;
   border:1px solid #d5d5d5
}
#groupsList thead tr th {
   border:1px solid #585858;
   background:#585858;
   color:white;
   font-weight:normal
}
table#groupsList tbody tr.selected {
background: #0099cc;   
color:white; 
}
.iBtn {
    float:right;
    position:relative;
    top:7px;
    cursor:pointer;
    color:gray
}
.iBtn:hover {
   color:black
}
.emptyGroupTable {
height:80px;
border-width:1px;
border-color:#d5d5d5;
border-style: solid;  
background:white;
margin-top:15px;  
}
.emptyGroupTable p {
padding:30px 5px 0px 5px;
text-align:center;
}
.loadingGroupTable {
height:80px;
border-width:1px;
border-color:#d5d5d5;
border-style: solid;  
background:white;
margin-top:15px;  
}
.loadingGroupTable p {
padding:30px 5px 0px 15px;
text-align:left;
font-size:15px;
}
.loadingGroupTable p i {
color:#333;
}
@media (max-width: 991px){
    .buttonWrapper {
display:none
}
}
@media (min-width: 990px){
    .buttonWrapper2 {
display:none
}
}
@media (max-width: 768px){
    .buttonWrapper2 {
margin-top:-41px !important;
border:none !important;
margin-bottom:-25px !important
}
}
/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

a.dt-button {
    background: #585858 !important;
    border: #585858 2px solid !important;
    color:white !important;
    border-radius:15px !important;
    transition: 0.3s ease;
}
a.dt-button.disabled {
    background: white !important;
    border: #e0e0e0 2px solid !important;
    color:#999 !important
}
#SheduleWrapper div div a.buttons-edit {
width:60px !important
}
#SheduleWrapper div div a.buttons-remove {
width:60px !important
}
table.dataTable.no-footer {
    border:#e0e0e0 2px solid !important;
}
.form-control {
height:40px !important;
border: 2px solid #cecece;
}
#groupsList_length label{
    font-weight:normal !important;
    margin-top:10px !important;
}
#groupsList_wrapper div div span a.paginate_button.current:hover {
    color:white !important;
}